
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #09090A;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: #09090A;
}

body::-webkit-scrollbar-thumb {
  background-color: #db5a85;   /* color of the scroll thumb */
  border-radius: 20px;
}

header {
  
  padding: 48px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  width: 100%;
  background-color: #09090a;
}

header button {
  width: fit-content; 

  height: 52px;
  border-radius: 8px;
  background: none;
  
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 23px;
  gap: 12px;
  transition: all 0.4s;
}

header button:hover {
cursor: pointer;
transform: scale(0.96);
}


/* para centraliar itens na tela */
/* display:grid; place-itens:center; height:100vh; */

#form-habits {
  display: flex;

  padding: 184px 48px 48px;
  width: fit-content; 
  /* ajuste o conteúdo na caixa para que fique com espaço na minha margem direira*/
}
.habits {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}


.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: 'Roboto Mono', monospace;
  color: #A1A1AA;
  font-size: 20px;

  text-align: center;

}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272A;
  border-radius: 8px;

  background: #181818;
}

input:hover {
  cursor: pointer;
}
/* pseudo-selector */
input:checked {
  background: #ff7ba4;
  border: 2px solid #ff7ba4;
}


@media (max-width: 570px) {

  button span {
    display: none;
  }
}